{% extends "::base.html.twig" %}

{% block title %}AnnoncesBundle:Recherche:search{% endblock %}

{% block body %}


<img src="{{asset('images/carte')}}" />

<h1>Welcome to the Recherche:search page</h1>
{% endblock %}
