{% extends "::base.html.twig" %}

{% block title %}AnnoncesBundle:Recherche:search{% endblock %}

{% block body %}



<map name="map" id="map">
<!-- #$VERSION:2.3 -->
<!-- #$AUTHOR:Hugo Sanslaville -->
<area shape="poly" coords="23,115,23,108,46,111,48,104,64,104,75,121,88,114,110,113,113,124,118,128,121,125,126,126,125,148,120,157,109,157,103,161,91,163,86,170,78,174,15,155,4,113,28,108,27,116" href="bretagne" />
<area shape="poly" coords="102,65,113,117,117,125,122,122,141,126,153,121,164,130,170,125,175,135,183,139,190,125,175,107,170,85,131,67,102,64,104,73" href="bassenormandie" />
<area shape="poly" coords="166,79,174,83,176,101,189,116,206,111,208,102,217,86,216,70,208,50,169,64,165,79" href="hautenormandie" />
<area shape="poly" coords="207,52,218,64,219,94,262,99,273,110,278,97,276,88,290,83,289,73,295,59,285,53,265,55,240,51,238,46,231,47,213,39" href="picardie" />
<area shape="poly" coords="213,34,213,13,231,6,244,4,253,19,263,16,299,40,293,56,280,50,271,53,244,49,224,39,213,34" href="nordpasdecalais" />
<area shape="poly" coords="297,57,291,84,280,90,273,117,271,133,284,149,306,152,315,149,324,164,336,169,345,163,349,153,341,147,341,138,334,134,320,119,321,77,330,73,313,43,303,51" href="champagneardenne" />
<area shape="poly" coords="334,74,336,78,343,74,352,79,360,75,378,90,399,90,405,95,398,100,387,97,383,105,394,112,386,126,389,131,382,157,376,151,360,149,351,149,337,129,321,112,324,81" href="lorraine" />
<area shape="poly" coords="422,162,403,176,384,155,390,141,391,122,397,116,393,106,387,106,389,101,402,101,406,95,420,96,425,98,413,113,405,154,407,168,400,174,420,164" href="alsace" />
<area shape="poly" coords="353,231,366,212,371,199,390,181,384,182,390,170,386,159,374,152,356,150,341,168,334,199,340,229,340,228" href="franchecomté" />
<area shape="poly" coords="270,134,285,155,301,155,312,152,320,158,320,167,337,172,332,199,336,223,323,223,319,237,313,234,306,237,301,239,292,238,292,228,287,222,280,215,273,213,261,210,258,191,254,172,260,157,257,145,260,135,263,136" href="bourgogne" />
<area shape="poly" coords="209,103,221,129,229,138,242,138,242,141,246,144,256,142,257,135,270,131,270,130,270,112,262,102,246,100,234,96,225,96,212,98" href="iledefrance" />
<area shape="poly" coords="209,109,213,120,221,133,224,138,240,141,240,147,256,146,257,158,253,162,253,174,259,209,234,226,217,227,197,228,191,219,180,199,170,202,169,195,161,191,168,171,174,172,188,159,192,145,188,138,194,131,194,123,189,119,207,116" href="centre" />
<area shape="poly" coords="128,127,128,149,121,160,114,159,107,162,96,166,89,174,82,174,77,180,86,184,85,202,118,234,125,228,137,228,138,215,130,199,137,196,152,192,160,192,166,170,177,166,188,144,172,136,172,129,164,135,156,129,144,129,157,130,156,128,148,131" href="paysdelaloire" />
<area shape="poly" coords="110,244,115,262,125,264,132,276,151,288,160,284,189,248,184,247,183,237,195,229,191,222,182,204,171,204,166,196,157,195,147,197,135,201,142,229,135,233,125,228,122,234" href="poitoucharente" />
<area shape="poly" coords="119,269,89,372,138,399,150,378,145,363,140,358,155,341,179,340,195,311,204,295,198,289,198,276,188,269,182,270,178,264,162,289,151,292" href="aquitaine" />
<area shape="poly" coords="180,260,184,267,194,269,199,278,205,294,219,299,233,288,242,262,236,258,242,247,239,236,233,230,218,230,197,230,187,237,187,245,191,249" href="limousin" />
<area shape="poly" coords="205,296,205,305,191,321,183,341,173,343,161,344,154,350,147,362,155,376,149,386,140,402,215,416,229,409,221,407,220,402,224,397,221,392,213,386,216,370,248,371,244,364,257,361,272,345,269,336,264,333,264,324,253,306,248,302,244,314,230,316,218,302,229,302,230,313" href="midipyrennees" />
<area shape="poly" coords="229,295,231,312,242,312,247,299,255,301,257,310,263,300,271,300,279,304,290,308,303,297,309,286,302,279,293,282,291,271,285,263,285,248,286,235,290,229,283,223,276,216,268,216,258,211,235,228,246,242,244,250,240,258,245,266,241,279,231,294" href="auvergne" />
<area shape="poly" coords="287,241,287,251,287,260,293,269,295,278,305,276,310,283,311,295,293,308,298,325,320,329,330,329,348,336,351,329,344,325,346,321,351,318,350,312,356,306,373,296,366,291,373,285,376,287,401,282,401,265,389,258,388,253,399,246,389,236,385,223,372,228,366,238,360,235,365,227,356,232,343,232,338,228,334,223,323,224,321,238,317,238,311,234,303,242,287,239" href="rhonealpes" />
<area shape="poly" coords="317,333,320,349,306,367,275,381,263,396,266,418,247,425,214,419,232,409,231,403,223,403,225,393,220,386,216,380,221,374,231,375,251,373,248,366,262,360,276,345,272,334,266,329,260,310,264,301,273,301,275,307,286,307,300,330,311,329,313,329" href="languedoc" />
<area shape="poly" coords="318,331,322,346,306,370,372,390,421,345,423,330,411,333,396,317,399,303,394,297,383,287,372,288,374,295,374,298,360,306,352,315,353,321,349,324,354,332,352,340,338,335,330,331,331,331" href="provences" />
<area shape="rect" coords="49,427,102,474" href="guadeloupe" />
<area shape="rect" coords="142,430,195,476" href="martinique" />
<area shape="rect" coords="234,430,283,476" href="guyane" />
<area shape="rect" coords="311,431,369,477" href="reunion" />
<area shape="rect" coords="379,389,422,476" href="corse" />
<area shape="rect" coords="175,108,177,110"  nohref="nohref" />
</map>

<img src= "{{'/images/france.png'}}" width="426" height="490" border="0" usemap="#map">


<h1>Welcome to the Recherche:search page</h1>
{% endblock %}
